/* Style general */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 15px;
  background-color: #ebebeb;
  font-family: sans-serif;
}

header {
  background-color: #b63319;
  padding: 2rem 4rem;
}

header .main-title {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.container {
  background-color: #f9f9f9;
  margin: 2rem 4rem;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  border-left: 5px solid #b63319;
  box-shadow: 2px 3px 3px #b3b3b3;
}

.container .title {
  text-align: center;
  font-size: 1.5rem;
  color: #b63319;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

/* Formulaire */

#formContainer .text-container .text-content {
  font-size: 1rem;
}

#formContainer form {
  padding: 1rem;
}

#formContainer form label {
  color: #b63319;
  font-size: 0.8rem;
  display: block;
}

#formContainer form input,
#formContainer form textarea {
  border: 1px solid #b63319;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#formContainer form input[type="submit"] {
  border-width: 2px;
  color: #b63319;
  padding: 0.5rem 1rem;
  margin: auto;
  display: block;
  width: 10rem;
  transition: color 0.5s linear, background-color 0.5s linear;
}

#formContainer form .submit-button:hover {
  cursor: pointer;
  background-color: #b63319;
  color: white;
  transition: color 0.5s linear, background-color 0.5s linear;
}

/* Bon de livraison */

#deliveryForm .comment {
  margin: 2rem;
}

#deliveryForm .comment p {
  text-align: center;
}
